# Jekyll build output
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Bundler local dependencies
vendor/
.bundle/

# Environment specific
.DS_Store
.env

# Ruby environment
.ruby-version
.ruby-gemset
